   *{
    margin: 0;
    padding: 0;
}

.img-head{
    max-width: 50px;
    margin-right: 5%;
}

#mainNav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.leftcontainer {
  position: relative;
  max-width: 325px;
  max-height: 510px;
  overflow-y: scroll;
}

.header
{
    background-image: url(immagini/sfondo.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* oggetti portfolio */

.portfolio .portfolio-item {
  margin-top: 20%;
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.justify-content-center {
    justify-content: center !important;
    margin-top: 0%;
}

.search-custom-bar {
  padding: 0 10% 0 10%;
  margin-top: 4%;
}

.formbox
{
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  outline: 0;
  margin: 7% 0% 0% 0%;
}

.modal-lg, .modal-xl {
  max-width: 70% !important;
  max-height: 20% !important;
}

.col-lg-8 {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-around;
  margin-bottom: 20px;
  max-width: 100% !important;
  flex: 0 0 90% !important;
  padding: 0 0 0 0 !important;
}

.modal.fade .modal-dialog {
  width: auto;
  margin-top: 2% !important;
  margin: auto;
  /* margin: 2% 2% 2% 2% !important; */
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

/*
.col-lg-8 {
  margin-bottom: 20px;
  max-width: 100% !important;
  flex: 0 0 90% !important;
}
*/


.youtubebtn {
  position: absolute;
  max-width: 14%;
  /* width: 200px !important; */
  margin: 0 77% 0 0;
}

.youtubevideo {
  display: none;
  position: absolute;
  /* width: 80%; */
  width: 100%;
  height: 120%;
  z-index: 5;
}

.imglat {
  border-radius: 0.5rem !important;
  width: 40%;
  max-width: 30%;
  height: auto;
  max-height: 90%;
  float: left;
  /* margin-right: 5%; */
  margin-bottom: 2% !important;
}

.row button{
    width: 50% !important;
}

.espansioni {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-y: auto;
  /* overflow-x: hidden; */
  margin-bottom: 25px;
}

.text-room {
  /* padding-left: 2%; */
  padding: 0 2% 0 2%;
  padding-top: 4%;
  max-width: 500px;
  text-align: justify;
  max-height: 525px !important;
  overflow: auto;
}

.container-modal{
  width: 100%;
}

.img1 {
  margin: 0% 1% 0% 1%;
  /* max-width: 20%; */
  text-align: center;
  max-height: 525px !important;
  min-width: 100px;
}

.espansioni img{
  margin-bottom: 2% !important;
  flex: 0 0 90% !important;
  max-height: 200px;
}

/*
.esptitl{
  margin-top: 25px;
}
*/

.desc {
  max-height: 200px !important;
  overflow-y: auto;
}

.plat {
  max-height: 50px !important;
  overflow-y: auto;
  overscroll-behavior-y: none;
}

/* footer style */
.container.py-5 {
  padding: 1% 0 1% 0 !important;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Signup */
  .form-group-signup{
    display: flex;
    justify-content: center;
  }

  .signup-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    
  .signup-button{
    margin: 5% 2.5% 5% 2.5%;
    width: 250px;
  }

  /* Google Login button */
  @import url(https://fonts.googleapis.com/css?family=Roboto:500);
  .google-btn {
    width: 200px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
 }
  .google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
 }
  .google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
 }
  .google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
 }
  .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
 }
  .google-btn:active {
    background: #1669f2;
 }
  
 body {
  margin: 0;
  padding: 0;
}

.box {
  text-align-last: center;
  position: relative;
  font-size: 2.8em;
  margin-right: 20%;
  font-weight: bold;
  width: calc(100% - 50%);
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
.box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.8em;
  margin-right: 50px;
  margin-left: 50px;
  width: calc(100% - 50%);
  height: 70%;
}
*/

.word {
  display: inline-block;
  color: #1abc9c;
}
.word span {
  position: absolute;
  top: 0;
  overflow: hidden;
  animation: animate 10s linear infinite;
  opacity: 0;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  2% {
    opacity: 1;
    transform: translateY(0px);
  }
  18% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
.word span:nth-child(1) {
  animation-delay: 0s;
}
.word span:nth-child(2) {
  animation-delay: 2s;
}
.word span:nth-child(3) {
  animation-delay: 4s;
}
.word span:nth-child(4) {
  animation-delay: 6s;
}


/* proporzioni per il 1366*768 */
@media (max-height: 800px) {

  .page-section {
    padding-top: 10% !important;
  }

}

