doctype html
head
  // BOOTSTRAP
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  // script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script
  script(src='https://code.jquery.com/jquery-latest.min.js')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  //custom stylesheets
  link(href='./stylesheets/chatStyle.css' rel='stylesheet' type='text/css')
  link(href='./stylesheets/index.css' rel='stylesheet' type='text/css')
  link(href='./stylesheets/style.css' rel='stylesheet' type='text/css')
  //custom script
  script(type='text/javascript' src='./socket.io/socket.io.js')
  title GAMERVERSE

nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
  .container
    img.img-head(src='./images/header-icon.png' alt='')
    a.navbar-brand.js-scroll-trigger(href='/') GAMERVERSE
    button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars
    li.nav-item.dropdown
      a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        | Accedi
      .dropdown-menu(aria-labelledby='navbarDropdown')
        a.dropdown-item(href='/auth/google')  Google 
        a.dropdown-item(href='/auth/twitter')  Twitter 
        .dropdown-divider
        a.dropdown-item(href='/signup') Registrati
        .dropdown-divider
        a.dropdown-item(href='/chat') Chat
        // Portfolio Section
- var user = "DAVIMASS";
section#portfolio.page-section.portfolio
  .container-chat       
    #chat-app
      #chat.has-text-centered
        section.section.chat-container
          .container
            .columns
              #cont.box.column.is-8.is-offset-2
                h2#title Benvenuto nella chat di GamerVerse
                .chat-messages.has-text-left
                  ul#chat-messages
                //#ch
              form#form(autocomplete='off')
                #message-container.field.has-addons
                  .row_column
                    .col-sm.left_form
                      // ****INSERISCI value="#{user.firstName}" IN INPUT SOTTO *****
                      input#name.input.utente_input(type='text' value = user readonly='readonly')
                    .col-sm.right_form
                      input#message.input(type='text' placeholder='Scrivi un messaggio...' min='1' required='required')
                      button#invia(type='submit')
                        <i class="fa fa-paper-plane"></i>
            script.
              const socket = io();
              $('form').submit(function() {
              const name = $('#name').val();
              const message = $('#message').val();
              socket.emit('chatter', `${name} : ${message}`); //This method is responsible for sending messages
              $('#message').val('');
              return false;
              });
              socket.on('chatter', function(message) {  //This method is responsible for listening for incoming messages
              const name = $('#name').val();
              console.log(name)
              if(message.substring(0,name.length).includes(name)){
                $('#chat-messages').append($('<li id="messaggi" class="mymess">').text(message));
              }
              else{
                $('#chat-messages').append($('<li id="messaggi" class="othermess">').text(message));
              }
              });

// Footer
footer.bg-white
  .container.py-5
    .row.py-4
      .col-lg-4.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Gamerverse
        p.font-italic.text-muted
          | Siamo un portale dedicato alla ricerca di videogiochi 
          |  ed è disponibile una chat per gli altri utenti connessi
      .col-lg-2.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Menù
        ul.list-unstyled.mb-0
          li.mb-2
            a.text-muted(href='/') Homepage
          li.mb-2
            a.text-muted(href='signup') Registrati
          li.mb-2
            a.text-muted(href='/') Chat
      .col-lg-2.col-md-6.mb-4.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Servizi
        ul.list-unstyled.mb-0
          li.mb-2 
            i.fas.fa-search
            a.text-muted  Ricerca
          li.mb-2 
            i.fas.fa-info-circle
            a.text-muted  Informazioni
          li.mb-2 
            i.fas.fa-puzzle-piece
            a.text-muted  Espansioni
          li.mb-2
            i.fas.fa-laptop
            a.text-muted  Piattaforme
      .col-lg-4.col-md-6.mb-lg-0
        h6.text-uppercase.font-weight-bold.mb-4 Newsletter
        p.text-muted.mb-4 Iscriviti alla newsletter per rimaner sempre aggiornato su Gamerverse.
        .p-1.rounded.border
          .input-group
            input.form-control.border-0.shadow-0(type='email' placeholder='Enter your email address' aria-describedby='button-addon1')
            .input-group-append
              button#button-addon1.btn.btn-link(type='submit')
                i.fa.fa-paper-plane
  // Copyrights
  .bg-secondary.py-2
    .container.text-center
      p.text-light.font-weight.mb-0.py-2 &copy; 2021 Gamerverse